#container {
    background-color: rgb(215, 246, 250);
    width: 600px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    background-color: rgb(175, 226, 233);
    color: rgb(26, 26, 70);
    text-align: center;
    width: 600px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

.recipes-list {
    color: rgb(26, 26, 70);
    width: 600px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.recipes-list-name {
    font-size: 20px;
    font-weight: bold;
}

.recipe-instructions {
    font-size: 16px;
    padding: 0 20px;
}

.recipe-image {
    width: 500px;
    margin: 0 auto;
    padding-top: 40px;
}